*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.xett{
    display: flex;
    align-items: center;
}
.hero{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 410px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
}
.input-login{
    margin: 5px 0px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    width: 260px;
    height: 40px;
    padding: 0 10px;
    font-size: 12px
}
.name{
    color: #000000;
    margin-bottom: 41px;
    margin-top: 27px;
    width: 175px;
    height: 30px;
    cursor: pointer;
}
.loginuser{
    margin-top: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095f6;
    color: white;
    width: 268px;
    height: 32px;
}
.row-1{
    width: 97px;
    height: 1px;
    background-color: #dbdbdb;
    margin-top: 28px;
}
.row-state{
    margin: 0 18px;
    font-size: 13px;
    font-size: arial;
    margin-top: 28px;

}
.fb-state{
    margin-top: 30px;
    cursor: pointer;
}
.şifre{
    margin-top: 20px;
    cursor: pointer;
}